<div class="cont-<%= message.account.id %>">
    <div class="message-box msg-<%= message.account.id %>">
        <div class="d-flex align-items-center">
            <%= image_tag(message.account.avatar, class: 'chat_pfp') %>
            <div>
                <h6 class="name"><%= message.account.username %></h6>
                <p class="time"><small><%= time_ago_in_words(message.created_at) %> ago</small></p>
            </div>
        </div>
        <%# unless message.room.is_private? %>
        <%# end %>
        <div>
            <%= message.body %>
        </div>

        <% if message.attachments.attached? %>
            <% message.attachments.each_with_index do |attachment, index| %>
                <% if attachment.image? %>
                    <%= image_tag(message.chat_attachment(index)) %>
                <% elsif attachment.video? %>
                    <%= video_tag(url_for(attachment), style:'height:auto; width:100%', controls:'') %>
                <% elsif attachment.audio? %>
                    <%= audio_tag(url_for(attachment), controls: '') %>
                <% else %>
                    <%= link_to attachment.filename, url_for(attachment), style:"text-decoration: none; color: #fff" %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>