<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { controller: "form-refresh" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= turbo_frame_tag "account_types", data: {controller: "navigate"} do %>
    <%= f.label :account_type_individual do %>
      <%= f.radio_button :account_type, "individual",
        data: {
          action: "change->navigate#to",
          url: new_account_registration_path(account: {account_type: "individual"})
        }
      %>
      Individual
    <% end %>

    <%= f.label :account_type_organization do %>
      <%= f.radio_button :account_type, "organization",
        data: {
          action: "change->navigate#to",
          url: new_account_registration_path(account: {account_type: "organization"})
        }
      %>
      Organization
    <% end %>

    <% if resource.account_type == "organization" %>

      <div class="field">
        <%= f.label :organization_name %><br />
        <%= f.text_field :organization_name, autocomplete: "Organization name" %>
      </div>

      <%= f.label :organization_type_base do %>
        <%= f.radio_button :organization_type, "base"
        %>
        Base
      <% end %>

      <%= f.label :organization_type_ministry do %>
        <%= f.radio_button :organization_type, "ministry"
        %>
        Ministry
      <% end %>

    <% else %>
      <div class="field">
        <%= f.label :firstname %><br />
        <%= f.text_field :firstname, autocomplete: "firstname" %>
      </div>

      <div class="field">
        <%= f.label :surname %><br />
        <%= f.text_field :surname, autocomplete: "surname" %>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autocomplete: "username" %>
  </div>

  <%= turbo_frame_tag :cs_select do %>
    <div data-controller="form-element">
      <%= f.button "Validate", formaction: new_account_registration_path, formmethod: 'get', data: { form_element_target: "remoteBtn", turbo_frame: :cs_select } %>

      <div class="field">
        <%= f.label :country %><br />
        <%= f.select :country, resource.countries.invert, { include_blank: 'Select your country' }, { data: { action: "change->form-element#autosubmit" } } %>
      </div>

      <div class="field">
        <%= f.label :state %><br />
        <%= f.select :state, resource.states.invert, { include_blank: 'Select your state' }, { data: { action: "change->form-element#autosubmit" } } %>
      </div>
    </div>
    
    <div class="field">
      <%= f.label :city %><br />
      <%= f.select :city, resource.cities, { include_blank: 'Select your city' }, {} %>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, autocomplete: "bio" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>