<%= form_with model: event do |f| %>
    <%= render 'layouts/errors', f: f %>

    <div class="mb-3">
        <%= f.text_field :name, placeholder: 'Event name' %>
    </div>

    <div class="mb-3">
        <%= f.select :event_category_id, EventCategory.all.pluck(:name, :id), { include_blank: 'Select category' }, placeholder: 'Event name' %>
    </div>

    <div class="mb-3">
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
    </div>

    <div class="mb-3">
        <%= f.label :start_time %>
        <%= f.time_field :start_time %>
    </div>

    <div class="mb-3">
        <%= f.label :end_date %>
        <%= f.date_field :end_date %>
    </div>

    <div class="mb-3">
        <%= f.label :end_time %>
        <%= f.time_field :end_time %>
    </div>

    <div class="mb-3">
        <%= f.label :event_type %>
        <%= f.select :event_type, Event.event_types.keys.map { |key| [key.humanize.capitalize, key] }, { include_blank: 'Is it in person or virtual?' } %>
    </div>

    <div class="mb-3">
        <%= f.label :cost_type %>
        <%= f.select :cost_type, Event.cost_types.keys.map { |key| [key.humanize.capitalize, key] }, { include_blank: 'Is the event free of paid?' } %>
    </div>

    <div class="mb-3">
        <%= f.text_field :streaming_link, placeholder: 'Streaming link' %>
    </div>

    <div class="mb-3">
        <%#= f.number_field :time_zone, placeholder: 'Time zone' %>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
    </div>

    <%= turbo_frame_tag :cs_select do %>
        <div data-controller="form-element">
            <%= f.button "Validate", formaction: new_event_path, formmethod: 'get', data: { form_element_target: "remoteBtn", turbo_frame: :cs_select } %>

            <div class="field">
                <%= f.label :country %><br />
                <%= f.select :country, event.countries.invert, { include_blank: 'Which country is this event happening?' }, { data: { action: "change->form-element#autosubmit" } } %>
            </div>

            <div class="field">
                <%= f.label :state %><br />
                <%= f.select :state, event.states.invert, { include_blank: 'Which state is this event happening?' }, { data: { action: "change->form-element#autosubmit" } } %>
            </div>
        </div>
        
        <div class="field">
            <%= f.label :city %><br />
            <%= f.select :city, event.cities, { include_blank: 'Which country is this city happening?' }, {} %>
        </div>
    <% end %>

    <div class="mb-3">
        <%= f.text_field :street_address, placeholder: 'Street address' %>
    </div>

    <div class="mb-3">
        <%= f.text_area :details, placeholder: 'Event details' %>
    </div>

    <div class="mb-3">
        <%= f.submit :submit %>
    </div>
<% end %>