<h1><%= @event.name %> - posted by: <%= @event.account.username %></h1>
<%= @event.details %>
<div><%= @event.start_date.strftime("%B %d") %> at <%= @event.start_time.strftime("at %I:%M %p") %> - <%= @event.end_date.strftime("%B %d") %> <%= @event.end_time.strftime("at %I:%M %p") %> (<%= @event.time_zone %>)</div>

<h3>Co-Hosts</h3>
<ul>
  <% @event.event_co_hosts.where.not(status: :declined).order(status: :asc).each do |co_host_record| %>
    <li>
      <%= co_host_record.account.username %>
      <% if co_host_record.pending? && co_host_record.account == current_account %>
        <%= button_to 'Accept', accept_co_host_event_path(@event, account_id: co_host_record.account.id), method: :post %>
        <%= button_to 'Decline', decline_co_host_event_path(@event, account_id: co_host_record.account.id), method: :post %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @event.account == current_account %>
  <h2>Add Co-Host</h2>
  <%= form_with url: add_co_host_event_path(@event), method: :post, local: true do |form| %>
    <div class="field">
      <%= label_tag :account_id, "Select Account" %>
      <%= select_tag :account_id, options_from_collection_for_select(@accounts, :id, :username) %>
    </div>
    <div class="actions">
      <%= form.submit "Add Co-Host" %>
    </div>
  <% end %>
<% end %>

<h2>Speakers</h2>
