<%= form_with(model: @resource, local: true, data: { controller: "category-select", category_select_current_category: @resource.resource_category_id }) do |form| %>
  <% if @resource.errors.any? %>
    <%= render 'layouts/errors', form: form %>
  <% end %>

  <div>
    <%= form.label :resource_category_id, style: "display: block" %>
    <%= form.collection_select :resource_category_id, ResourceCategory.all, :id, :name, 
        { include_blank: "Select category" }, 
        { 
          data: { 
            action: "change->category-select#updateFields",
            category_select_target: "select"
          }
        } 
    %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <%= turbo_frame_tag "category_specific_fields", data: { category_select_target: "fields" } do %>
    <%= @category_fields %>
  <% end %>

  <div>
    <%= form.label :cover_image, style: "display: block" do %>
      <% if form.object.cover_image.attached? && form.object.cover_image.persisted? %>
        <%= image_tag form.object.cover_image.representation(resize_to_limit: [150, 150]) %>
        <p>The currently attached file is <em><%= form.object.cover_image.filename %></em>. Click below to replace this file.</p>
      <% else %>
        No file has been uploaded yet. Please pick a file.
      <% end %>
    <% end %>

    <%= form.file_field :cover_image %>
  </div>

  <br>

  <div>
    <%= form.submit "Save Resource" %>
  </div>
<% end %>