<div id="follow_button">
    <% if account_signed_in? %>

        <% follow = current_account.follows.find_by(followable: followable) %>

        <% if follow.nil? %>

            <%= form_with model: [Follow.new], method: :post do |f| %>
                <%= f.hidden_field :followable_id, value: followable.id %>
                <%= f.hidden_field :followable_type, value: followable.class.to_s %>
                
                <%= f.button class: "btn rounded-5 btn-light border" do %>
                    <i class="fa-regular fa-heart"></i>
                    follows: <%= followable.follows_count %>
                <% end %>
            <% end %>
        <% else %>
            <%= form_with url: follow_path(follow), method: :delete do |f| %>
                
                <%= f.button class: "btn btn-success rounded-5" do %>
                    <i class="fa-solid fa-heart"></i>
                    follows: <%= followable.follows_count %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>
