<%= form_with model: [:host, @event] do |form| %>
  <%= form.select :status, Event.statuses.keys.map { |key| [key.humanize.capitalize, key] }, { include_blank: 'Event status' } %>
  <%= form.submit %>
<% end %>

<%= link_to 'Edit', edit_host_event_path(@event) %>
<h1><%= @event.name %></h1>
<%= @event.details %>
<%= @event.event_category.name %>
<div><%= @event.start_date.strftime("%B %d") %> at <%= @event.start_time.strftime("at %I:%M %p") %> - <%= @event.end_date.strftime("%B %d") %> <%= @event.end_time.strftime("at %I:%M %p") %> (<%= @event.time_zone %>)</div>

<h3>Co-Hosts</h3>
<ul>
  <% @event.event_co_hosts.order(status: :asc).each do |co_host_record| %>
    <li>
      <%= co_host_record.account.username %> - <%= co_host_record.status.capitalize %>
      <% if co_host_record.pending? && co_host_record.account == current_account %>
        <%= button_to 'Accept', accept_co_host_event_path(@event, account_id: co_host_record.account.id), method: :post %>
        <%= button_to 'Decline', decline_co_host_event_path(@event, account_id: co_host_record.account.id), method: :post %>
      <% elsif (co_host_record.accepted? || co_host_record.declined?) && current_account == @event.account %>
        <%= button_to 'Remove', remove_co_host_host_event_path(@event, account_id: co_host_record.account.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @event.account == current_account %>
  <h2>Add Co-Host</h2>
  <%= form_with url: add_co_host_host_event_path(@event), method: :post, local: true do |form| %>
    <div class="field">
      <%= label_tag :account_id, "Select Account" %>
      <%= select_tag :account_id, options_from_collection_for_select(@accounts, :id, :username), { include_blank: "Select co-host" } %>
    </div>

    
    <div class="actions">
      <%= form.submit "Add Co-Host" %>
    </div>
  <% end %>
<% end %>

<hr>

<h3>Speakers</h3>
<%= render 'host/event_speakers/form', event: @event, event_speaker: @event_speaker %>

<ul>
    <% @event_speakers.each do |es| %>
      <li>
        <%= link_to host_event_event_speaker_path(@event, es) do %>
          <%= es.name %>
          <ul>
            <% es.event_talks.each do |et| %>
              <%= link_to host_event_event_speaker_event_talk_path(@event, es, et) do %>
                <li><strong><%= et.title %>: </strong>
                <%= et.description %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
</ul>