<%= link_to 'Edit', edit_host_event_path(@event) %>
<h1><%= @event.name %></h1>
<%= @event.details %>
<div><%= @event.start_date.strftime("%B %d") %> at <%= @event.start_time.strftime("at %I:%M %p") %> - <%= @event.end_date.strftime("%B %d") %> <%= @event.end_time.strftime("at %I:%M %p") %> (<%= @event.time_zone %>)</div>

<h3>Speakers</h3>
<ul>
    <% @event_talks.each do |et| %>
        <li>
            <%= link_to host_event_event_talk_path(@event, et) do %>
                <%= et.event_speaker.name %> | <%= et.title %>
            <% end %>
        </li>
    <% end %>
</ul>