<!DOCTYPE html>
<html>
  <head>
    <title>YwamSocial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <style>
      <%= ".msg-#{current_account&.id}" %> {
        background-color: #007bff !important;
        padding: 10px;
      }
      <%= ".cont-#{current_account&.id}" %> {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
      }
    </style>
  </head>

  <body>
    <% if account_signed_in? %>
      <%= current_account.username %> |
      <%=  link_to 'Start chatting', rooms_path %> |
      <%= link_to 'Account settings', edit_account_registration_path %> |
      <%= link_to 'Sign out', destroy_account_session_path, data: { turbo_method: :delete, turbo_confirm: 'You are about to logout..' } %>
    <% else %> 
      <%= link_to 'Sign in', new_account_session_path %>
      <%= link_to 'Sign Up', new_account_registration_path %>
    <% end %>

    <hr>
    
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>
    
    <%= yield %>
  </body>
</html>
